:root{
    --principal-fondo: #FEF3C7;
    --secundario-fondo: #FFFFFF;
    --elem-importantes: #155E75;
    --elem-secun:#0EA5A4;
    --detalles: #84CC16;
    --texto: #263238;
}
/* #75949d */

@font-face {
    font-family: 'titulo';
    src: url('../assets/fonts/DancingScript-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'texto';
    src: url('../assets/fonts/JosefinSans-Light.ttf');
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* = = = = SECCION HERO = = = = */
.swiper{
    width: 100%;
    height: auto;
}
.swiper-slide img{
    width: 100%;
}
.swiper-button-next, .swiper-button-prev{
    padding: 10px;
    border-radius: 50px;
    background-color: var(--elem-importantes);
    color: var(--secundario-fondo);
}
.swiper-pagination-bullet{
    background-color: var(--elem-secun);
}
#productos{
    height:500px ;
}